.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;

  .reset-search {
    font-size: 10px;
    width: 100%;
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "×";
      font-size: 20px;
      line-height: 14px;
    }
  }
}
