.PostContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  padding-top: 60px;

  .Post {
    background: #fcfcfc;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    margin-bottom: 60px;

    .image img {
      width: 100%;
      height: auto;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: 600;
      padding: 30px;
    
      &__thumbnail img {
        height: 34px;
        width: 34px;
        margin-right: 10px;
      }
    }
  }
}

